<!-- Footer -->

<hr>
<div style="text-align:center"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf4fbYByR2rfMwI9WuyoGwHfVDahbvW6URhRvogVLUtaw8FPQ/viewform?embedded=true" width="640" height="506" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
